body{
  font-family: europa;
  letter-spacing: .04em;
}
.header{
  padding: 1.5em;
  display: flex;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.site-title{
  text-transform: uppercase;
  letter-spacing: .1em;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  display: flex;
  flex: 1;
}
.site-title a:link, .site-title a:visited{
  color:black;
  text-decoration: none;
}
.tab {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  transition-duration: .25s;
}
.tab:hover{
  color:black !important;
  transition-duration: .25s;
}

a.tab:hover{
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.tab:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ea5e76;
  opacity: 0;
  transform: translateY(-8px);
}
.tab:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ea5e76;
  opacity: 0;
  transform: translateY(3px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.tab:hover:before, .tab:focus:before, .tab:hover:after, .tab:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.tab:hover:before, .tab:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.tab:hover:after, .tab:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

/* .tab{
  margin-left:20px;
  cursor: pointer;
  transition-duration:140ms;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.tab:hover{
  color:black !important;
  text-decoration: underline;
  text-decoration-color: black;
} */

.left-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-size:20px;
}
.right-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  font-size: 20px;
}

a:link, a:visited{
  color: rgb(234, 94, 118);
  transition-duration: 140ms;
}

a:hover{
  color:black;
  transition-duration: 140ms;
}

.main-image{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-text{
  text-align: center;
}
.content-title{
  font-size: 32px;
  font-weight: bold;
  line-height: 1.66em;
  color:#ea5e76;
}
.content-body{
  display: grid;
  max-width: 60%;
  grid-template-columns: repeat(2, 1fr);
  margin-right: auto;
  margin-left: auto;
  column-gap: 3vw;
  row-gap: 3vw;
  align-items: center;
  justify-items: center;
}
.content-body-grid4{
  display: grid;
  max-width: 50%;
  grid-template-columns: repeat(2, 1fr);
  margin-right: auto;
  margin-left: auto;
  column-gap: 3vw;
  row-gap: 3vw;
  align-items: center;
  justify-items: center;
}
.content-body-text{
  font-size: 20px;
  max-width: 100%;
  line-height: 1.66em;
}
@media only screen and (max-width: 990px) {
  .content-body-text{
      grid-column: span 2;
  }
  .content-body-image{
      grid-column: span 2;
  }
}
.content-body-image img{    
  display: block;
  width: 100%;
  min-width:100px;
  max-width: 100%;
  height: auto;
}
.gallery-container{
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  column-gap: 2vw;
  row-gap: 2vw;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-items: center;
}
.photo{
  transition-duration:.3s;
}
.photo:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;

}
#box{
  max-width:100%;
  object-fit: cover;
  height:333px;
  border-radius: 4px;  
}
#box:hover{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.16);
}

#card{
  border-radius: 16px;
  background-color: #2fce74;
}

#card:hover{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.16);
}
#boxPortrait{
  object-fit:cover;
  width:100%;
  height:333px;
  border-radius: 4px;
  object-position: 50% 20%;
}
#boxPortrait:hover{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.16);
}

#lightbox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, .8);
  display:none;
}

#lightbox img{
  position: fixed;
  max-width: 50%;
  max-height: 75%;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#topBtn{
  display: none;
  position: fixed;
  bottom: 0;
  right: -2.5vw;
  z-index: 1;
  cursor: pointer;
}
#topBtn img{
  width: 45%;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}
.errors{
  color:red;
}
.guestbook-form{
  height: 550px;
  overflow-y: auto;
  -webkit-animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  animation-delay: .5s;
  opacity: 0;
}
.guestbook-entries{
  height: 550px;
  font-size: 20px;
  max-width: 100%;
  overflow-y: auto;
}

.entry-title{
  display: flex;
  font-weight: bold;
  align-items: center;
}
.entry-description{
  display: block;
  font-size: 16px;
  color: rgb(143, 143, 143);
  font-weight: normal;
  margin-top: 4px;
  overflow-wrap: break-word;
}
.entry-date{
  font-size: 16px;
  color: rgb(143, 143, 143);
}
.entry-message{
  font-size: 16px;
}

.home-content-body{
  -webkit-animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.works-text{
  -webkit-animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  animation-delay: .5s;
  opacity: 0;
}
.about-text{
  padding-bottom: 8em;
}
.about-image{
  -webkit-animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  animation: fade-in 1.2s cubic-bezier(.4,0,.2,1) forwards;
  opacity: 0;
  -webkit-transform: translateX(-1em);
  transform: translateX(-1em);
}
.about-content-body{
  display: grid;
  max-width: 75%;
  grid-template-columns: repeat(2, 1fr);
  margin-right: auto;
  margin-left: auto;
  column-gap: 3vw;
  row-gap: 3vw;
  align-items: center;
  justify-items: center;
}

#aboutImg{
  display: block;
  width: 80%;
  min-width:100px;
  max-width: 80%;
  height: auto;
}

.covers-text{
  grid-column: span 2;
}

.covers-video{
  grid-column: span 2;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(80px);
  visibility: hidden;
  transition: opacity 1200ms ease 0s, transform 1200ms ease 0s;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@-webkit-keyframes fade-in {
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
  }
}

@keyframes fade-in {
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
  }
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}